@using EmaPosProject.Models.Entity
@model List<reference>
@{
    ViewBag.Title = "References";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid page-header" style="height: 250px;">
    <div class="container" style="height: 250px;">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px;">
            <h3 class="display-4 text-white text-uppercase">REFERANSLAR</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="/Anasayfa/Index">Anasayfa</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">REFERANSLAR</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="row">
            @foreach (var x in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 pb-2">
                    <div class="team-item bg-white mb-4">
                        <div class="team-img position-relative overflow-hidden">
                            <img class="img-fluid my-img w-100" src="https://admin.emapos.com.tr/Images/References/@x.image" alt="EmaPos @x.title" style="height:350px;">
                            <div class="team-social">
                                <a class="btn btn-outline-danger btn-square" href="@x.facebook"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-danger btn-square" href="@x.instagram"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-danger btn-square" href="@x.website"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <h5 class="text-truncate">@x.title</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

